/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$charcoal: #1E1E1E;
$purple: #825075;
$blue: #5084A3;
$green: #4D9D8A;
$red: #C13D49;
$orange: #C57149;
