/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.25s;
}

.xl-grid{
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". content .";
    
        >div{
            grid-area: content;
        }
    }

}