/* =============
    Celebs
============= */
#celebs-header{
    background-color: $red;
    // height: 10vh;
    padding: 20px;
    position: relative;
    

    @include md{
        // height: 20vh;
    }

    display: grid;
    grid-template-columns: 80% auto;

    >div{

    }

    #burger-container{
        color: white;
        font-size: rem-calc(30);

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        // text-align: right;
        // position: absolute;
        // bottom: 20px;
        // right: 20px;

        i{
            cursor: pointer;
        }
    }
}

#celebs-content {
    overflow: hidden;

    

    #marilyn-container {
        display: grid;
        grid-template-areas: "marilyn-photo"
        "marilyn-text";
        grid-template-columns: 1fr;
        grid-template-rows: 2;
        // margin-top: 50px;

        @include md{
            grid-template-areas: "marilyn-photo marilyn-text";
            grid-template-columns: 5fr 3fr;
        }

        @include lg{
            grid-template-areas: "marilyn-photo . marilyn-text .";
            grid-template-columns: 7fr 1fr 3fr 1fr;
        }

        #marilyn-container-photo{
            grid-area: marilyn-photo;
            margin-right: 20px;

            @include md{
                margin-right: 0px;
            }
            }
            // background-image: url("../img/celebs/marilyn.png");
                // background-position: right;
                // background-size: cover;
                // background-repeat: no-repeat;
                // width: auto;
                // height: 100vh;
                img{

                    width: 100%;
                    height: auto;
                    margin-top: 75px;
                    object-fit: cover;
                }
                
                // background-size: auto 100%;
                // background-repeat: no-repeat;
                // background-position: right;

                @include md{
                    // height: auto;
                }
            

        }

        #marilyn-container-text{
            grid-area: marilyn-text;
            overflow: hidden;
            hr{
                border: solid 5px $red;
                margin-top: 0;
            }
            h3{
                margin: 0 20px;
            }

            p{
                margin: 0 20px;
            }

            @include md {
                padding-top: 100px;
            }

            @include lg {
                padding-bottom: 150px;
                padding-top: 150px;
            }

        }
    }

    #joe-container {
        display: grid;
        grid-template-areas: "joe-photo"
        "joe-text";
        grid-template-columns: 100%;
        margin-top: 50px;

        @include md{
            grid-template-areas: "joe-text joe-photo";
            grid-template-columns: 50% auto;
            margin-top: 75px;
        }

        @include lg{
            grid-template-areas: ". joe-text . joe-photo";
            grid-template-columns: 1fr 4fr 1fr 6fr;
        }

        #joe-container-photo{
            grid-area: joe-photo;
            // background-image: url("../img/celebs/joe.png");
                // background-position: left;
                // background-size: cover;
                // background-repeat: no-repeat;
                // width: 100%;
                // height: auto;
                // width: auto;
                // height: 80vh;
                // background-position: right;
                // margin-left: 20px;
                // background-size: auto 100%;
                // background-repeat: no-repeat;

                img{

                    width: 100%;
                    height: auto;
                    margin-left: 20px;
                    object-fit: cover;

                    @include md{
                        margin-left: 0px;
                    }
                }
            

        }

        #joe-container-text{
            grid-area: joe-text;

            hr{
                border: solid 5px $green;
                margin-top: 0;
            }
            h3{
                margin: 0 20px;
            }

            p{
                margin: 0 20px;
            }

            @include md {
                // padding-top: 100px;
            }

            @include lg {
                padding-bottom: 150px;
                padding-top: 150px;
            }

        }
    }


    #james-container {
        display: grid;
        grid-template-areas: "james-photo"
        "james-text";
        grid-template-columns: 1fr;
        margin-top: 50px;

        @include md{
            grid-template-areas: "james-photo james-text";
            grid-template-columns: 5fr 3fr;
            margin-top: 75px;
        }

        @include lg{
            grid-template-areas: "james-photo . james-text .";
            grid-template-columns: 7fr 1fr 3fr 1fr;
        }

        #james-container-photo{
            grid-area: james-photo;
            // background-image: url("../img/celebs/james.png");
            //     background-position: right;
                // background-size: cover;
                // background-repeat: no-repeat;
                // width: auto;
                // height: 70vh;
                // margin-left: 20px;
                // background-size: auto 100%;
                // background-repeat: no-repeat;
                img{

                    width: 100%;
                    height: auto;
                    margin-left: 20px;
                    object-fit: cover;

                    @include md{
                        margin-left: 0px;
                    }
                }
                

        }

        #james-container-text{
            grid-area: james-text;
            overflow: hidden;
            hr{
                border: solid 5px $orange;
                margin-top: 0;
            }
            h3{
                margin: 0 20px;
            }

            p{
                margin: 0 20px;
            }

            @include md {
                // padding-bottom: 100px;
            }

            @include lg {
                padding-bottom: 150px;
                padding-top: 150px;
            }

        }
    }

