#masthead-container{
    display: flex;
    align-items:center;
    justify-content:center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index:1000;
    background-color: $white;


    img{
        width: 300px;
        padding: 20px;

        @include md{
            padding: 25px;
        }
    }
}