/* =============
    Navigation
============= */

#nav {
    position: absolute;
    top:0;
    left: 0;
    display: grid;
    z-index: 1000;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "what story"
    "tips celebs"
    "stutter stutter";
    width: 100vw;


    @include md{
        height: 20vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "what tips celebs"
        "story stutter stutter";
    }

    display: none;

    a{
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    

}

.what{
    grid-area: what;
    background-color: $purple;
    padding: 20px;
    &:hover {
        background-color:$darkpurple;
    }
    &:active {
        color:$darkpurple;
    }
}

.story{
    grid-area: story;
    background-color: $blue;
    padding: 20px;
    h1{
        line-height: rem-calc(30);
    }  
    &:hover {
        background-color:$darkblue;
    }
    &:active {
        color:$darkblue;
    }

    

}

.tips{
    grid-area: tips;
    background-color: $green;
    padding: 20px;
    &:hover {
        background-color:$darkgreen;
    }
    &:active {
        color:$darkgreen;
    }
}

.celebs{
    grid-area: celebs;
    background-color: $red;
    padding: 20px;
    &:hover {
        background-color:$darkred;
    }
    &:active {
        color:$darkred;
    }
}

.stutter{
    grid-area: stutter;
    background-color: $orange;
    padding: 20px;
    position: relative;
    &:hover {
        background-color:$darkorange;
    }
    &:active {
        color:$darkorange;
    }
    

#close-icon{
        position: absolute;
        font-size: rem-calc(30);
        right:20px;
        bottom:20px;
        color:$white;
        background-color: transparent;
        border: none;
        padding: 10px 0 0 10px;
        cursor: pointer;
        transition: 0.25s;
        &:hover {
            color:$lightorange;
        }
        &:active {
            color:$lightorange;
        }

    }
}

